<?xml version="1.0" encoding="utf-8"?>

<!--
#   Android Weather Notification.
#   Copyright (C) 2010  Denis Nelubin aka Gelin
#   
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 2 of the License, or
#   (at your option) any later version.
#   
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#   
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software
#   Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
#   
#   http://gelin.ru
#   mailto:den@gelin.ru
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ru.gelin.android.weather.notification"
      android:versionCode="48"
      android:versionName="0.3.6">
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name=".app.MainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="ru.gelin.android.weather.notification.ACTION_START_MAIN_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.MainActivity2"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".app.MainActivity4"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:exported="true"
                  android:theme="@android:style/Theme.NoDisplay">
        </activity>

        <activity android:name=".app.DebugActivity"/>
        
        <service android:name=".app.UpdateService"
                android:permission="ru.gelin.android.weather.notification.START_UPDATE_SERVICE">
            <intent-filter>
                <action android:name="ru.gelin.android.weather.notification.ACTION_START_UPDATE_SERVICE"/>
            </intent-filter>
        </service>
        
        <receiver android:name=".app.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".app.NetworkConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".app.ExternalAppsAvailableReceiver">
            <intent-filter>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".app.PackageChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <!-- Built-in skin -->
        
        <receiver android:name=".skin.builtin.SkinWeatherNotificationReceiver"
        		android:label="@string/builtin_skin">
            <intent-filter>
                <action android:name="ru.gelin.android.weather.notification.ACTION_WEATHER_UPDATE_2"/>
            </intent-filter>
        </receiver>
        
        <activity android:name=".skin.builtin.SkinConfigActivity"
                  android:label="@string/builtin_skin_preferences">
            <intent-filter>
                <action android:name="ru.gelin.android.weather.notification.ACTION_WEATHER_SKIN_PREFERENCES"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".skin.builtin.WeatherInfoActivity"
                  android:label="@string/weather"
                  android:theme="@style/Theme.Dialog"/>

    </application>
    
    <permission android:name="ru.gelin.android.weather.notification.START_UPDATE_SERVICE"
            android:label="@string/start_update_service_permission"
            android:description="@string/start_update_service_permission_description"
            android:permissionGroup="android.permission-group.DEVELOPMENT_TOOLS"
            android:protectionLevel="normal"/>
    
    <uses-permission android:name="ru.gelin.android.weather.notification.START_UPDATE_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="14"/>
    <supports-screens/>

</manifest>
